.accordion-group {
    width: 100%;
    interpolate-size: allow-keywords;

    details {
        cursor: pointer;
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;

        &::details-content {
            block-size: 0;
            transition:
                block-size 0.2s,
                content-visibility 1s;
            transition-behavior: allow-discrete;
        }

        &[open]::details-content {
            block-size: auto;
        }
    }

    summary {
        padding: var(--section-padding-y) var(--section-padding-x);

        &:hover {
            background-color: var(--bg-surface-hover);
        }

        &::marker,
        &::-webkit-details-marker {
            content: '';
            display: none;
        }

        &+div {
            padding: var(--section-padding-y) var(--section-padding-x);
        }
    }

    summary::after {
        font-family: var(--icon-font) !important;
        content: '\e313';
        position: absolute;
        margin: var(--section-padding-y) var(--section-padding-x);
        top: 0;
        right: 0;
        display: inline-block;
        transform: rotate(-180deg);
        transition: all 0.15s;
    }

    details[open]>summary::after {
        transform: rotate(0);
    }


    &.left-marker {
        summary {
            padding-left: calc(var(--section-padding-x) * 2);
        }

        summary::after {
            left: 0;
            right: auto;
        }
    }
}